{% extends "layouts/base1.html" %}

{% load static %}
{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <main class="content">

        {% include 'includes/navigation1.html' %}

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="/"><span class="fas fa-home"></span></a></li>
                <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
        </nav>
            <!-- <div class="btn-toolbar dropdown">
                <a href="{% url 'application_create' %}" class="btn btn-primary btn-sm mr-2 dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                    <span class="fas fa-plus mr-2"></span>Ariza
                </a>
            </div> -->
            <!-- <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-primary">Export</button>
            </div> -->
        </div>
        <div class="row justify-content-md-center">
            <div class="col-12 mb-4"> 
                <div class="card bg-yellow-alt shadow-sm">
                    <div class="card-header d-flex flex-row align-items-center flex-0">
                        <div class="d-block">
                            <div class="h5 font-weight-normal mb-2">Arizalar statistikasi</div>
                            <!-- <h2 class="h3">$10,567</h2>
                            <div class="small mt-2">
                                <span class="font-weight-bold mr-2">Yesterday</span>
                                <span class="fas fa-angle-up text-success"></span>
                                <span class="text-success font-weight-bold">10.57%</span>
                            </div> -->
                        </div>
<!--                        <div class="d-flex ml-auto">-->
<!--                            <a href="#" class="btn btn-secondary text-dark btn-sm mr-2">Oy</a>-->
<!--                            <a href="#" class="btn btn-primary btn-sm mr-3">Hafta</a>-->
<!--                        </div>-->
                    </div>
                    <div class="card-body p-2">
                      <canvas id="myChart13" width="600" height="200"></canvas>
                    </div>
                    
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <div class="row d-block d-xl-flex align-items-center">
                            <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                <div class="icon icon-shape icon-md icon-shape-success rounded mr-4 mr-sm-0"><span class="fas fa-chart-line"></span></div>
                                <div class="d-sm-none">
                                    <h2 class="h5">Hemis</h2>
                                    <h3 class="mb-1">{{hemis}}</h3>
                                </div>
                            </div>
                            <div class="col-12 col-xl-7 px-xl-0">
                                <div class="d-none d-sm-block">
                                    <h2 class="h5">Hemis</h2>
                                    <h3 class="mb-1">{{hemis}}</h3>
                                </div>
                                <!-- <small>Feb 1 - Apr 1,  <span class="icon icon-small"><span class="fas fa-globe-europe"></span></span> WorldWide</small>
                                <div class="small mt-2">
                                    <span class="fas fa-angle-up text-success"></span>
                                    <span class="text-success font-weight-bold">18.2%</span> Since last month
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="col-12 col-sm-6 col-xl-4 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <div class="row d-block d-xl-flex align-items-center">
                            <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                <div class="icon icon-shape icon-md icon-shape-secondary rounded mr-4"><span class="fas fa-chart-line"></span></div>
                                <div class="d-sm-none">
                                    <h2 class="h5">LMS</h2>
                                    <h3 class="mb-1">{{lms}}</h3>
                                </div>
                            </div>
                            <div class="col-12 col-xl-7 px-xl-0">
                                <div class="d-none d-sm-block">
                                    <h2 class="h5">LMS</h2>
                                    <h3 class="mb-1">{{lms}}</h3>
                                </div>
                                <!-- <small>Feb 1 - Apr 1,  <span class="icon icon-small"><span class="fas fa-globe-europe"></span></span> Worldwide</small>
                                <div class="small mt-2">
                                    <span class="fas fa-angle-up text-success"></span>
                                    <span class="text-success font-weight-bold">28.2%</span> Since last month
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <div class="row d-block d-xl-flex align-items-center">
                            <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                <div class="icon icon-shape icon-md icon-shape-info rounded mr-4 mr-sm-0"><span class="fas fa-chart-line"></span></div>
                                <div class="d-sm-none">
                                    <h2 class="h5">Kerio control</h2>
                                    <h3 class="mb-1">{{kero}}</h3>
                                </div>
                            </div>
                            <div class="col-12 col-xl-7 px-xl-0">
                                <div class="d-none d-sm-block">
                                    <h2 class="h5">Kerio control</h2>
                                    <h3 class="mb-1">{{kero}}</h3>
                                </div>
                                <!-- <small>Feb 1 - Apr 1,  <span class="icon icon-small"><span class="fas fa-globe-europe"></span></span> WorldWide</small>
                                <div class="small mt-2">
                                    <span class="fas fa-angle-up text-success"></span>
                                    <span class="text-success font-weight-bold">18.2%</span> Since last month
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4 mb-4">
                <div class="card border-light shadow-sm">
                    <div class="card-body">
                        <div class="row d-block d-xl-flex align-items-center">
                            <div class="col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center">
                                <canvas id="myPlot14" style="width: 619px; max-width: 700px; display: block; height: 309px;" width="619" height="309" class="chartjs-render-monitor"></canvas>
                            </div>
                            <div class="col-12 col-xl-7 px-xl-0">
                                <h2 class="h5 mb-3">Arizalr foizi</h2>
                                <h6 class="font-weight-normal text-gray"><span class="icon w-20 icon-xs icon-success mr-1"><span class="fas fa-desktop"></span></span> Hemis <a href="#" class="h6">{{hemis_foiz}}</a></h6>
                                <h6 class="font-weight-normal text-gray"><span class="icon w-20 icon-xs icon-secondary mr-1"><span class="fas fa-desktop"></span></span> Lms <a href="#" class="h6">{{lms_foiz}}</a></h6>
                                <h6 class="font-weight-normal text-gray"><span class="icon w-20 icon-xs icon-info mr-1"><span class="fas fa-desktop"></span></span> Kerio control <a href="#" class="h6">{{kero_foiz}}</a></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </main>
   

{% endblock content %}

{% block javascripts %}
<script>
  // Data values
  var xValues = ["Yanvar", "Fevral", "Mart", "Aprel", "May", "Iyun", "iyul", "Avgust", "Sentyabr", "Oktiyabr","Noyabr", "Dekabr"];
  var hemis = [{{oy_1_1}}, {{oy_2_1}},{{oy_3_1}},{{oy_4_1}},{{oy_5_1}},{{oy_6_1}},{{oy_7_1}},{{oy_8_1}},{{oy_9_1}},{{oy_10_1}},{{oy_11_1}},{{oy_12_1}}];

  var lms = [{{oy_1_2}}, {{oy_2_2}},{{oy_3_2}},{{oy_4_2}},{{oy_5_2}},{{oy_6_2}},{{oy_7_2}},{{oy_8_2}},{{oy_9_2}},{{oy_10_2}},{{oy_11_2}},{{oy_12_2}}];

  var kero = [{{oy_1_3}}, {{oy_2_3}},{{oy_3_3}},{{oy_4_3}},{{oy_5_3}},{{oy_6_3}},{{oy_7_3}},{{oy_8_3}},{{oy_9_3}},{{oy_10_3}},{{oy_11_3}},{{oy_12_3}}];

  new Chart("myChart13", {
      type: "line",
      data: {
          labels: xValues,
          datasets: [ 
              { 
                  data: hemis,
                  borderColor: "green",
                  label: 'Hemis',
                  fill: false
              },
              { 
                  data: lms,
                  borderColor: "red",
                  label: 'Lms',
                  fill: false
              },
              { 
                  data: kero,
                  borderColor: "blue",
                  label: 'Kerio',
                  fill: false
              }
          ]
      },
      options: {
          title: {
              display: true,
              text: 'Your Chart Title'
          },
          legend: {
              display: true
          }
      }
  });
</script>
<script>
    var yValues = [{{hemis}}, {{lms}}, {{kero}}];
    var barColors = [
          "#1e7145",
          "#e8c3b9",
          "#2b5797",
        ];
        
        var chart = new Chart("myPlot14", {
          type: "pie",
          data: {
            
            datasets: [{
              backgroundColor: barColors,
              data: yValues
            }]
          },
          options: {
            title: {
              display: true,
            }
          }
        });
        </script>
<script>
    var chart13 = new Chart("myPlot13", {
      type: 'bar',
      data: {
        labels: ["Hemis","Lms","Kerio"],
        datasets: [{
          backgroundColor:["green","orange","blue"],
          data: [{{hemis}}, {{lms}}, {{kero}}]
        }]
      },
      options: {
        legend: {display: false},
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true
            }
          }]
        },
            title: {
          display: true,
          text: "World Wide Wine Production 2018",
          fontSize: 16
        }
    
      }
    });
    </script>
{% endblock javascripts %}