{% extends "layouts/base1.html" %}

{% load static %}
{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<main class="content">

    {% include 'includes/navigation1.html' %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="/"><span class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Arizalar</li>
                </ol>
            </nav>
         
            <h2 class="h4">LMS arizalar ro'yxati</h2>
            <!-- <p class="mb-0">Your web analytics dashboard template.</p> -->
         

        </div>
        <div class="btn-toolbar mb-4 mb-md-0">
            <form action="{% url 'lms_arizalar' %}" method="get" class="input-group">
                <input name="q" type="text" class="form-control" id="exampleInputIconLeft" placeholder="Search"
                       aria-label="Search" aria-describedby="basic-addon2">
                <button type="submit" class="input-group-text" id="basic-addon2"><span class="fas fa-search"></span></button>
            </form>
        </div>
    </div>

    <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
        {% if request.user.admin_profile.is_lms_admin %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID:</th>
                <th>Ism Familiya:</th>
                <th>Tel:</th>
                <th>Paspoer seria</th>
                <th>Lavozim:</th>
                <th>Tizim:</th>
                <th>Holat:</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            

            {% for i in lms %}
            <!-- Item -->
            <tr>
                <td>
                    <a href="" class="font-weight-bold">
                        {{i.id}}
                    </a>
                </td>
                <td>
                    <span class="font-weight-normal">{{i.first_name}} &nbsp; {{i.last_name}}</span>
                </td>
                <td><span class="font-weight-normal">{{i.phone}}</span></td>
                <td><span class="font-weight-normal">{{i.passport_serial}}</span></td>
                <td><span class="font-weight-bold">{{i.position}}</span></td>
                <td><span class="font-weight-bold text-info">{{i.system}}</span></td>

                {% for as in application_create %}
                    {% if as.status == 'yangi' and i.id == as.id %}
                    <td><span class="font-weight-bold text-red">{{as.status}}</span></td>
                    {% elif as.status == 'tekshirilmoqda' and i.id == as.id %}
                    <td><span class="font-weight-bold text-warning">{{as.status}}</span></td>
                    {% elif as.status == 'tekshirildi' and i.id == as.id  %}
                    <td><span class="font-weight-bold text-info">{{as.status}}</span></td>
                    {% elif as.status == 'rad etildi' and i.id == as.id  %}
                    <td><span class="font-weight-bold text-danger">{{as.status}}</span></td>
                    {% endif %}
                {% endfor %}

                <td>
                    <div class="btn-group">
                        <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="icon icon-sm">
                                                    <span class="fas fa-ellipsis-h icon-dark"></span>
                                                </span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item text-info" href=""><span class="fas fa-eye mr-2"></span>Ko'rish</a>
                             <a class="dropdown-item text-info" href="{% url 'application_edit' pk=i.id %}"><span class="fas fa-edit mr-2"></span>Edit</a>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            
            </tbody>
        </table>
        {% elif request.user.admin_profile.is_self_visible %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>ID:</th>
                <th>Ism Familiya:</th>
                <th>Tel:</th>
                <th>Paspoer seria</th>
                <th>Lavozim:</th>
                <th>Tizim:</th>
                <th>Holat:</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            

            {% for i in lms %}
            <!-- Item -->
            <tr>
                <td>
                    <a href="" class="font-weight-bold">
                        {{i.id}}
                    </a>
                </td>
                <td>
                    <span class="font-weight-normal">{{i.first_name}} &nbsp; {{i.last_name}}</span>
                </td>
                <td><span class="font-weight-normal">{{i.phone}}</span></td>
                <td><span class="font-weight-normal">{{i.passport_serial}}</span></td>
                <td><span class="font-weight-bold">{{i.position}}</span></td>
                <td><span class="font-weight-bold text-info">{{i.system}}</span></td>

                {% for as in application_create %}
                    {% if as.status == 'yangi' and i.id == as.id %}
                    <td><span class="font-weight-bold text-red">{{as.status}}</span></td>
                    {% elif as.status == 'tekshirilmoqda' and i.id == as.id %}
                    <td><span class="font-weight-bold text-warning">{{as.status}}</span></td>
                    {% elif as.status == 'tekshirildi' and i.id == as.id  %}
                    <td><span class="font-weight-bold text-info">{{as.status}}</span></td>
                    {% elif as.status == 'rad etildi' and i.id == as.id  %}
                    <td><span class="font-weight-bold text-danger">{{as.status}}</span></td>
                    {% endif %}
                {% endfor %}

                <td>
                    <div class="btn-group">
                        <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="icon icon-sm">
                                                    <span class="fas fa-ellipsis-h icon-dark"></span>
                                                </span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item text-info" href=""><span class="fas fa-eye mr-2"></span>Ko'rish</a>
                             <a class="dropdown-item text-info" href="{% url 'application_edit' pk=i.id %}"><span class="fas fa-edit mr-2"></span>Edit</a>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
            
            </tbody>
        </table>
        {% else %} <br>
        <h2 class="h4 text-danger">Siz LMS admini emasiz!</h2>
        {% endif %}
    </div>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
