{% extends "layouts/base.html" %}

{% block title %} Ariza {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<style>
    .hidden {
        display: none;
    }
    .hidden1 {
        display: none;
    }

</style>
<main class="content">

    {% include 'includes/navigation.html' %}

    <div class="py-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item"><a href="/"><span class="fas fa-home"></span></a></li>
                <li class="breadcrumb-item active" aria-current="page">Ariza</li>
            </ol>
        </nav>
        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4"> </h1>
                <p class="mb-0">Arizani to'ldirishda xatoliklarga yo'l qoymang</p>
            </div>
            <div>
                <a href=""
                   class="btn btn-outline-gray"> Ortga qaytish</a>
            </div>
            <!-- <button class="btn btn-primary dropdown-toggle show" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="fas fa-clipboard mr-2"></span>Reports
                <span class="icon icon-small ml-1"><span class="fas fa-chevron-down"></span></span>
            </button>
            <div class="dropdown-menu dashboard-dropdown dropdown-menu-left mt-2 show" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(920px, 136px, 0px);" x-placement="bottom-start">
                <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-box-open mr-2"></span>Products</a>
                <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-store mr-2"></span>Customers</a>
                <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-cart-arrow-down mr-2"></span>Orders</a>
                <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-chart-pie mr-2"></span>Console</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item font-weight-bold" href="#"><span class="fas fa-rocket text-success mr-2"></span>All Reports</a>
            </div> -->
        </div>
    </div>

    <h2>Yangi ariza</h2> 
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <label for="first_name">Ism:</label>
                    <input name="first_name" class="form-control" id="first_name" type="text"
                           placeholder="Ismizni kiritng" readonly value="{{request.user.first_name}}">
                </div>
                <div class="col-md-4">
                    <label for="last_name">Familiya</label>
                    <input name="last_name" class="form-control" id="last_name" type="text"
                           placeholder="Familiyangizni kiritng" readonly value="{{request.user.last_name}}">
                </div>
                <div class="col-md-4">
                    <label for="email">Email</label>
                    <input name="email" class="form-control" id="email" type="email" placeholder="tatu@sf.com" readonly
                           value="{{request.user.email}}">
                </div>

            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label for="phone">Telefon</label>
                    <input name="phone" class="form-control" id="phone" type="number" placeholder="+998901234567"
                           value="{{request.user.user_profile.phone}}"
                           required>
                </div>
                <div class="col-md-4">
                    <label>Tug'ilgan kuningiz</label>
                    <div >
                        <input name="birthday" class="form-control" type="text" placeholder="yyyy-mm-dd" pattern="\d{4}-\d{2}-\d{2}" value="{{ request.user.user_profile.birthday|date:'Y-m-d' }}">
                    </div>
                </div>
                <div class="col-md-4">
                    <label>Passport seriyasi:</label>
                    <input type="text" class="form-control" name="passport_serial" placeholder="Passport seria" required value="{{request.user.user_profile.passport_serial}}">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <label>Passport rasm:</label>
                    <input type="file" class="form-control" name="passport_image" placeholder="Passport rasm" required>
                </div>
                <div class="col-md-4">
                    <label>Shaxsiy rasm:</label>
                    <input type="file" class="form-control" name="image" placeholder="rasm" required>
                </div>
                <div class="col-md-4" hidden>
                    <label>Username</label><br>
                    {{forms.user}}
                </div>
            </div>
            <br>

            <div class="col row">
                <div class="col-md-6">
                    <div class="col-md-12">
                        <label>Lavozim:</label>
                        {{forms.position}}
                    </div>
                    <br>
                    <div id="div1" class="row hidden ">
                        <div class="col-md-12">
                            <label>Fakultet</label>
                            {{forms.faculty}}
                        </div>
                        <br>
                        <div class="col-md-12">
                            <label>Kurs</label>
                            <input type="text" class="form-control" name="kurs" placeholder="Kurs">
                        </div>
                        <br>
                        <div class="col-md-12">
                            <label>Guruh</label>
                            <input type="text" class="form-control" name="group" placeholder="Guruh">
                        </div>
                        <br>
                        <div class="col-md-12">
                            <label>Ta'lim shakli</label>
                            {{forms.talim_shakli}}
                        </div>
                    </div>
                    <div class="row">
                        <div id="div2" class="col-md-12 hidden">
                            <label>Kafedra</label>
                            {{forms.kafedra}}
                        </div>
                        <div id="div3" class="col-md-12 hidden">
                            <label>Bo'lim nomi</label>
                            {{forms.positionone}}
                        </div>
                        <br>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <label>Tizim:</label>
                        {{ forms.system }}
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <label id="div_1" class="hidden1">Hemis ID/login</label>
                            <label id="div_2" class="hidden1">LMS ID</label>
                            <label id="div_3" class="hidden1">Kero Control login</label>
                            <input id="login" type="text" class="form-control hidden1" name="tizim"
                                   placeholder="ID/login">

                        </div>
                        <div id="div_4" class="col-md-12 hidden1">
                            <label>Bino</label>
                            {{forms.building}}
                        </div>
                    </div>
                </div>
                <br>
                <div class="col-md-12">
                    <label for="id_text">Murojaat mazmuni to'liq xolda</label>
                    <textarea name="text" class="form-control" id="id_text" style="height:155px" required></textarea>
                </div>
            </div>
            <br>
            <button type="submit" class="save btn btn-secondary">Save</button>
        </div>
    </form>


</main>

<script>
    function showDiv(select) {
        var selectedOption = select.value;
        console.log(selectedOption)
        // Hide all divs
        for (var i = 1; i <= 3; i++) {
            var divId = 'div' + i;
            console.log(divId)
            document.getElementById(divId).classList.add('hidden');
        }

        // Show the selected div
        if (selectedOption !== '') {
            var selectedDivId = 'div' + selectedOption;
            document.getElementById(selectedDivId).classList.remove('hidden');
        }
    }

    function showDiv1(select) {
        var selectedOption1 = select.value;

        // Hide all divs
        for (var i = 1; i <= 4; i++) {
            var divId = 'div_' + i;

            console.log(divId)
            document.getElementById(divId).classList.add('hidden1');
        }

        // Show the selected div
        if (selectedOption1 !== '') {
            var selectedDivId = 'div_' + selectedOption1;
            if (selectedDivId == 'div_3'){
                var divId = 'div_4';
                document.getElementById(divId).classList.remove('hidden1');
            }
            document.getElementById(selectedDivId).classList.remove('hidden1');

            var diviD = 'login';

            document.getElementById(diviD).classList.remove('hidden1');
        }
    }

</script>
{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}