{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Arizalar {% endblock %} 


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main class="content">

    {% include 'includes/navigation.html' %}

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div class="d-block mb-4 mb-md-0">
                <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                    <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                      <li class="breadcrumb-item"><a href="/"><span class="fas fa-home"></span></a></li>
                      <li class="breadcrumb-item active" aria-current="page">Arizalar</li>
                    </ol>
                </nav>
                <h2 class="h4">Arizalar ro'yxati</h2>
                <!-- <p class="mb-0">Your web analytics dashboard template.</p> -->
            </div>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group">
                    <a href="{% url 'application_create' %}" class="btn btn-sm btn-outline-primary">Ariza yuborsh</a>
                </div>
            </div>
        </div>
        <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID:</th>
                        <th>Ism Familiya:</th>						
                        <th>Tel:</th>
                        <th>Paspoer seria</th>
                        <th>Lavozim:</th>
                        <th>Tizim:</th>
                        <th>Holat:</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <!-- Item -->


                    {% for application in applications %}
                        {% if request.user == application.user %}

                    <tr>
                        <td>
                            <a href="" class="font-weight-bold">
                                {{application.id}}
                            </a>
                        </td>
                        <td>
                            <span class="font-weight-normal">{{application.first_name}} &nbsp; {{application.last_name}}</span>
                        </td>
                        <td><span class="font-weight-normal">{{application.phone}}</span></td>                        
                        <td><span class="font-weight-normal">{{application.passport_serial}}</span></td>
                        <td><span class="font-weight-bold">{{application.position}}</span></td>
                        <td><span class="font-weight-bold text-info">{{application.system}}</span></td>
                       
                        {% for i in applications_create %}
                        {% if request.user == i.user %}
                        {% if application.id == i.id %}
                            {% if i.status == 'yangi' %}
                            <td><span class="font-weight-bold text-red">{{i.status}}</span></td>
                            {% elif i.status == 'tekshirilmoqda' %}
                            <td><span class="font-weight-bold text-warning">{{i.status}}</span></td>
                            {% elif i.status == 'tekshirildi' %}
                            <td><span class="font-weight-bold text-info">{{i.status}}</span></td>
                            {% elif i.status == 'rad etildi' %}
                            <td><span class="font-weight-bold text-danger">{{i.status}}</span></td>
                            {% endif %}
                            {% endif %}
                        {% endif %}
                        {% endfor %}
                            


                        <td>
                            <div class="btn-group">
                                <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="icon icon-sm">
                                        <span class="fas fa-ellipsis-h icon-dark"></span>
                                    </span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'application_views' pk=application.id %}"><span class="fas fa-eye mr-2"></span>Ko'rish</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>





            <!-- <div class="card-footer px-3 border-0 d-flex align-items-center justify-content-between">
                <nav aria-label="Page navigation example">
                    <ul class="pagination mb-0">
                        <li class="page-item">
                            <a class="page-link" href="#">Previous</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">4</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">5</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
                <div class="font-weight-bold small">Showing <b>5</b> out of <b>25</b> entries</div>
            </div> -->
        </div>
</main>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}