{% extends "layouts/base.html" %}

{% block title %} Ariza views {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<main class="content">

    {% include 'includes/navigation.html' %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
        <div class="d-block mb-4 mb-md-0">
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                    <li class="breadcrumb-item"><a href="/"><span class="fas fa-home"></span></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Ariza</li>
                </ol>
            </nav>
            {% if create.status == 'yangi' %}
                <h2 class="h4">Arizaga admin tamonidan izoh: &nbsp;<b class="h3">{{create.body}}</b></h2>
                <p class="mb-0"><strong >Ariza holati: </strong><b class="text-danger">{{create.status}}</b> </p>
            {% elif create.status == 'tekshirilmoqda' %}
                <h2 class="h4">Arizaga admin tamonidan izoh: &nbsp;<b class="h3">{{create.body}}</b></h2>
                <p class="mb-0"><strong >Ariza holati: </strong><b class="text-danger">{{create.status}}</b> </p>
            {% elif create.status == 'rad etildi' %}
                <h2 class="h4">Arizaga admin tamonidan izoh: &nbsp;<b class="h3">{{create.body}}</b></h2>
                <p class="mb-0"><strong >Ariza holati: </strong><b class="text-danger">{{create.status}}</b> </p>
            {% elif create.status == 'tekshirildi' %}
                <h2 class="h4">Arizaga admin tamonidan izoh: &nbsp;<b class="h3">{{create.body}}</b></h2>
                <p class="mb-0"><strong >Ariza holati: </strong><b class="text-danger">{{create.status}}</b> </p>
            {% endif %}
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group">
                <a href="{% url 'application_create' %}" class="btn btn-sm btn-outline-primary">Ariza yuborsh</a>
            </div>
        </div>
    </div>

    <div class="card card-body border-light shadow-sm table-wrapper table-responsive pt-0">
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="card-title text-center h3">{{application}}</h5>
                </div>
                <div class="col-md-4">
                    <h4 class="text-center">Shaxsiy rasm:</h4>
                    <img src="{{ application.get_image }}" class="img-fluid rounded-start" alt="rasm" style="width: 100%; height: 200px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="card-text"><b>Telefon:</b> +{{application.phone}}  </p>
                        <p class="card-text"><b>Passvor seria:</b> {{application.passport_serial}}  </p>
                        <p class="card-text"><b>Email:</b> {{application.user.email}}</p>
                        <p class="card-text"><b>Tug'ulgan sana:</b> {{application.birthday}}</p>

                        {% if application.system.id == 1 %}
                        <p class="card-text"><b>Tizim:</b> {{application.system}}</p>
                        <p class="card-text"><b>Id/login:</b>{{application.tizim}}</p>
                        {% elif application.system.id == 2 %}
                        <p class="card-text"><b>Tizim:</b> {{application.system}}</p>
                        <p class="card-text"><b>Id/login:</b>{{application.tizim}}</p>
                        {% elif application.system.id == 3 %}
                        <p class="card-text"><b>Tizim:</b> {{application.system}}</p>
                        <p class="card-text"><b>Id/login:</b>{{application.tizim}}</p>
                        <p class="card-text"><b>Bino: </b>{{application.building}}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4">
                    <h4 class="text-center">Passport rasm:</h4>
                    <img src="{{ application.get_passport }}" class="img-fluid rounded-start" alt="rasm" style="width: 100%; height: 200px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        {% if application.position.id == 1 %}
                        <p class="card-text"><b>Lavozim:</b> {{application.position}}</p>
                        <p class="card-text"><b>Fakultet:</b> {{application.faculty}}</p>
                        <p class="card-text"><b>Kurs:</b> {{application.kurs}}-kurs</p>
                        <p class="card-text"><b>Guruh:</b> {{application.group}}</p>
                        <p class="card-text"><b>Talim shakli:</b> {{application.talim_shakli}}</p>
                        {% elif application.position.id == 2 %}
                        <p class="card-text"><b>Lavozim:</b> {{application.position}}</p>
                        <p class="card-text"><b>Kafedra:</b> {{application.kafedra}}</p>
                        {% elif application.position.id == 3 %}
                        <p class="card-text"><b>Lavozim:</b>  {{application.position}}</p>
                        <p class="card-text"><b>Bo'lim:</b> {{application.positionone}}</p>
                        {% endif %}
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</main>
{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}