<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>


<div class="container">
    <div>
        <h2 class="text-center">O‘ZBEKISTON RESPUBLIKASINING QONUNI</h2>
        <h3 class="text-center">KIBERXAVFSIZLIK TO‘G‘RISIDA</h3>
        <p class="text-md-end">Qonunchilik palatasi tomonidan 2022-yil 25-fevralda qabul qilingan</p>
        <p class="text-md-end">Senat tomonidan 2022-yil 17-martda ma’qullangan</p> 
        <h2 class="text-center">1-bob. Umumiy qoidalar</h2>
    </div>
    <div>
        <p>

            1-modda. Ushbu Qonunning maqsadi
            Ushbu Qonunning maqsadi kiberxavfsizlik sohasidagi munosabatlarni tartibga solishdan iborat.
            2-modda. Kiberxavfsizlik to‘g‘risidagi qonunchilik
            Kiberxavfsizlik to‘g‘risidagi qonunchilik ushbu Qonun va boshqa qonunchilik hujjatlaridan iboratdir.
            Telekommunikatsiya tarmoqlari va aloqa kanallaridagi tezkor-qidiruv tadbirlari tizimining kiberxavfsizligini ta’minlash alohida qonunchilik hujjatlarida belgilangan tartibda amalga oshiriladi.
            Agar O‘zbekiston Respublikasining xalqaro shartnomasida O‘zbekiston Respublikasining kiberxavfsizlik to‘g‘risidagi qonunchiligida nazarda tutilganidan boshqacha qoidalar belgilangan bo‘lsa, xalqaro shartnoma qoidalari qo‘llaniladi.
            3-modda. Asosiy tushunchalar
            Ushbu Qonunda quyidagi asosiy tushunchalar qo‘llaniladi:
            axborotlashtirish obyekti — turli darajadagi va maqsaddagi axborot tizimlari, telekommunikatsiya tarmoqlari, axborotga ishlov berishning texnik vositalari, ushbu vositalar o‘rnatilgan va foydalaniladigan xonalar;
            kiberjinoyatchilik — axborotni egallash, uni o‘zgartirish, yo‘q qilish yoki axborot tizimlari va resurslarini ishdan chiqarish maqsadida kibermakonda dasturiy ta’minot va texnik vositalardan foydalanilgan holda amalga oshiriladigan jinoyatlar yig‘indisi;
            kibermakon — axborot texnologiyalari yordamida yaratilgan virtual muhit;
            kibertahdid — kibermakonda shaxs, jamiyat va davlat manfaatlariga tahdid soluvchi shart-sharoitlar va omillar majmui;
            kiberxavfsizlik — kibermakonda shaxs, jamiyat va davlat manfaatlarining tashqi va ichki tahdidlardan himoyalanganlik holati;
            kiberxavfsizlik hodisasi — kibermakonda axborot tizimlarining ishlashida uzilishlarga va (yoki) ulardagi axborotning ochiqligi, yaxlitligi va undan erkin foydalanilishining buzilishiga olib kelgan hodisa;
            kiberxavfsizlik obyekti — axborotning kiberhimoya qilinishini hamda milliy axborot tizimlari va resurslarining kiberxavfsizligini ta’minlashga doir faoliyatda foydalaniladigan axborot tizimlari majmui, shu jumladan muhim axborot infratuzilmasi obyektlari;
            kiberxavfsizlik subyekti — milliy axborot resurslariga ega bo‘lish, ulardan foydalanish va ularni tasarruf etish hamda ulardan foydalanish bo‘yicha elektron axborot xizmatlari ko‘rsatish, axborotni himoya qilish hamda kiberxavfsizlik bilan bog‘liq muayyan huquqlar va majburiyatlarga ega bo‘lgan yuridik shaxs va (yoki) yakka tartibdagi tadbirkor, shu jumladan muhim axborot infratuzilmasi subyektlari;
            kiberhimoya — kiberxavfsizlik hodisalarining oldini olishga, kiberhujumlarni aniqlashga va ulardan himoya qilishga, kiberhujumlarning oqibatlarini bartaraf etishga, telekommunikatsiya tarmoqlari, axborot tizimlari hamda resurslari faoliyatining barqarorligini va ishonchliligini tiklashga qaratilgan huquqiy, tashkiliy, moliyaviy-iqtisodiy, muhandislik-texnik chora-tadbirlar, shuningdek ma’lumotlarni kriptografik va texnik jihatdan himoya qilish chora-tadbirlari majmui;
            kiberhujum — kibermakonda apparat, apparat-dasturiy va dasturiy vositalardan foydalangan holda qasddan amalga oshiriladigan, kiberxavfsizlikka tahdid soladigan harakat;
            muhim axborot infratuzilmasi — muhim strategik va ijtimoiy-iqtisodiy ahamiyatga ega bo‘lgan avtomatlashtirilgan boshqaruv tizimlarining, axborot tizimlari hamda tarmoqlar va texnologik jarayonlar resurslarining majmui;
            muhim axborot infratuzilmasi obyektlari — davlat boshqaruvi va davlat xizmatlari ko‘rsatish, mudofaa, davlat xavfsizligini, huquq-tartibotni ta’minlash, yoqilg‘i-energetika majmui (atom energetikasi), kimyo, neft-kimyo tarmoqlari, metallurgiya, suvdan foydalanish va suv ta’minoti, qishloq xo‘jaligi, sog‘liqni saqlash, uy-joy kommunal xizmatlar ko‘rsatish, bank-moliya tizimi, transport, axborot-kommunikatsiya texnologiyalari, ekologiya va atrof-muhitni muhofaza qilish, strategik ahamiyatiga ega bo‘lgan foydali qazilmalarni qazib olish va qayta ishlash sohasida, ishlab chiqarish sohasida, shuningdek iqtisodiyotning boshqa tarmoqlarida va ijtimoiy sohada qo‘llaniladigan axborotlashtirish tizimlari;
            muhim axborot infratuzilmasi subyektlari — davlat organlari va tashkilotlari, shuningdek mulk, ijara huquqlari asosida yoki boshqa qonuniy asoslarda muhim axborot infratuzilmasi obyektlariga egalik qiluvchi yuridik shaxslar, shu jumladan muhim axborot infratuzilmasi obyektlarining ishlashini hamda hamkorligini ta’minlovchi yuridik shaxslar va (yoki) yakka tartibdagi tadbirkorlar.
            4-modda. Kiberxavfsizlikni ta’minlashning asosiy prinsiplari
            Kiberxavfsizlikni ta’minlashning asosiy prinsiplari quyidagilardan iborat:
            qonuniylik;
            kibermakonda shaxs, jamiyat va davlat manfaatlarini himoya qilishning ustuvorligi;
            kiberxavfsizlik sohasini tartibga solishga nisbatan yagona yondashuv;
            kiberxavfsizlik tizimini yaratishda mahalliy ishlab chiqaruvchilar ishtirokining ustuvorligi;
            O‘zbekiston Respublikasining kiberxavfsizlikni ta’minlashda xalqaro hamkorlik uchun ochiqligi.
            5-modda. Qonuniylik prinsipi
            Kiberxavfsizlikni ta’minlashda O‘zbekiston Respublikasi Konstitutsiyasining, ushbu Qonun va boshqa qonunchilik hujjatlarining talablariga og‘ishmay rioya etilishi hamda ular bajarilishi shart.
            Qonunchilik talablarini aniq bajarishdan va ularga rioya etishdan har qanday tarzda chetga chiqish, buning sabablari qanday bo‘lishidan qat’i nazar, qonuniylikning buzilishidir va u belgilangan javobgarlikka sabab bo‘ladi.
            6-modda. Kibermakonda shaxs, jamiyat va davlat manfaatlarini himoya qilishning ustuvorligi prinsipi
            Kibermakonda shaxs, jamiyat va davlat manfaatlarini tashqi va ichki tahdidlardan himoya qilish davlatning kiberxavfsizligini ta’minlashda ustuvor hisoblanadi.
            7-modda. Kiberxavfsizlik sohasini tartibga solishga nisbatan yagona yondashuv prinsipi
            Kiberxavfsizlik sohasini tartibga solishga nisbatan yagona yondashuv ma’lumotlarga ishlov berish hamda ularni himoya qilish bo‘yicha dasturiy va texnik vositalarni ishlab chiqish hamda joriy etish jarayonini tashkil etish, uning monitoringini va nazoratini amalga oshirishga qaratilgan axborot tizimlarini hamda resurslarini kiberhimoya qilishning yagona davlat tizimi joriy etilgan holda ta’minlanadi.
            Kiberxavfsizlikni ta’minlash ushbu sohadagi munosabatlarni huquqiy, ma’muriy va texnik jihatdan tartibga solish tizimini shakllantirishda yagona yondashuvlar asosida amalga oshirilishi kerak.
            8-modda. Kiberxavfsizlik tizimini yaratishda mahalliy ishlab chiqaruvchilar ishtirokining ustuvorligi prinsipi
            Davlat va xo‘jalik boshqaruvi organlarining, mahalliy davlat hokimiyati organlarining kiberxavfsizligini ta’minlash uchun zarur bo‘lgan tovarlarni (ishlarni, xizmatlarni) xarid qilishda O‘zbekiston Respublikasi hududida ishlab chiqarilgan tovarlar (ishlar, xizmatlar) xorijda ishlab chiqarilgan mahsulotga nisbatan ustuvorlikka ega bo‘ladi.
            9-modda. O‘zbekiston Respublikasining kiberxavfsizlikni ta’minlashda xalqaro hamkorlik uchun ochiqligi prinsipi
            O‘zbekiston Respublikasi kiberxavfsizlikni ta’minlash sohasida xalqaro shartnomalar doirasida xalqaro tashkilotlar, chet davlatlar va ularning vakolatli idoralari bilan xalqaro hamkorlikni amalga oshiradi.
            2-bob. Kiberxavfsizlik sohasini davlat tomonidan tartibga solish
            10-modda. Kiberxavfsizlik sohasidagi yagona davlat siyosati
            Kiberxavfsizlik sohasidagi yagona davlat siyosatini O‘zbekiston Respublikasi Prezidenti belgilaydi.
             LexUZ sharhi
            Qarang: O‘zbekiston Respublikasi Konstitutsiyasining 109-moddasi.
            11-modda. Kiberxavfsizlik sohasidagi vakolatli davlat organi
            O‘zbekiston Respublikasi Davlat xavfsizlik xizmati kiberxavfsizlik sohasidagi vakolatli davlat organidir (bundan buyon matnda vakolatli davlat organi deb yuritiladi).
            Vakolatli davlat organining kiberxavfsizlik sohasidagi vakolatlari jumlasiga quyidagilar kiradi:
            kiberxavfsizlik sohasidagi normativ-huquqiy hujjatlarni va davlat dasturlarini ishlab chiqish;
            kiberxavfsizlik to‘g‘risidagi qonunchilik hujjatlarining ijro etilishi ustidan nazoratni amalga oshirish;
            kiberxavfsizlik hodisalari yuzasidan tezkor-qidiruv tadbirlarini, tergovga qadar tekshiruvlarni va tergov harakatlarini amalga oshirish;
            kiberxavfsizlik hodisalarining oldini olish, ularni aniqlash va bartaraf etish hamda ularga nisbatan tegishli chora-tadbirlarni, shu jumladan ularning oqibatlarini tugatish bo‘yicha tashkiliy-texnik chora-tadbirlarni ko‘rish;
            favqulodda vaziyatlarda axborot tizimlari va resurslarini kiberhimoya qilish hamda kiberxavfsizlik sohasidagi boshqa masalalar bo‘yicha chora-tadbirlarni o‘z ichiga olgan rejalarni ishlab chiqish;
            kiberxavfsizlikni ta’minlashga doir ishlarni, shuningdek muhim axborot infratuzilmasi obyektlarida kiberhujumlarning oldini olishga, ularni aniqlashga va ularning oqibatlarini tugatishga doir ishlarni tashkil etish;
            kiberxavfsizlik talablariga muvofiq axborot tizimlari va resurslaridagi apparat, apparat-dasturiy hamda dasturiy vositalarni sertifikatlashtirishga doir ishlarni tashkil etish;
            kiberxavfsizlik sohasida tadqiqotlar o‘tkazilishini va monitoringni tashkil etish;
            muhim axborot infratuzilmasi obyektlarining yagona reyestrini shakllantirish, shuningdek ushbu reyestrning yuritilishini tashkil etish va ta’minlash;
            kiberxavfsizlik subyektlari tomonidan taqdim etilgan ma’lumotlar asosida obyektlarni muhim axborot infratuzilmasi obyektlarining yagona reyestriga kiritish to‘g‘risida qaror qabul qilish;
            muhim axborot infratuzilmasi obyektlarining kiberxavfsizligini ta’minlashga doir talablarni belgilash;
            axborotlashtirish obyektlarini va muhim axborot infratuzilmasi obyektlarini kiberxavfsizlik talablariga muvofiq attestatsiyadan o‘tkazish tartibini belgilash;
            axborotni kriptografik himoya qilish vositalarini ishlab chiqishga, ishlab chiqarishga va realizatsiya qilishga doir faoliyatni litsenziyalash;
            axborot tizimlaridan hamda resurslaridan foydalanuvchilarning huquqlari va qonuniy manfaatlarini himoya qilish choralarini ko‘rish;
            kiberxavfsizlik subyektlarining axborot tizimlarini va resurslarini o‘rganish va tekshirishni, shuningdek muhim axborot infratuzilmasi obyektlarida o‘rganishlar va tekshirishlarni amalga oshirish;
            muhim axborot infratuzilmasi obyektlariga bo‘lgan kiberhujumlarga urinishlarning oldini olishga doir rejalarni ishlab chiqish va ularni bevosita amalga oshirish;
            kiberxavfsizlik bo‘linmalarining, mustaqil ekspertlar xizmatlari va guruhlarining faoliyatini tartibga solish, kibertahdidlarga qarshi kurashish sohasida huquqni muhofaza qiluvchi organlar bilan hamkorlik qilish;
            davlat va xo‘jalik boshqaruvi organlarini, mahalliy davlat hokimiyati organlarini axborot tizimlari hamda resurslarida aniqlangan zaifliklar, kibertahdidlar, kiberhujumlar va boshqa buzg‘unchi xatti-harakatlar to‘g‘risida xabardor qilish;
            huquqni muhofaza qiluvchi organlarni va muhim axborot infratuzilmasi subyektlarini muhim axborot infratuzilmasi obyektlarida kiberxavfsizlik hodisalarini birgalikda tekshirishga jalb etish;
            kiberxavfsizlik sohasida xalqaro hamkorlikni amalga oshirish va kibertahdidlarga qarshi kurashish bo‘yicha umumiy yondashuvlarni ishlab chiqish, kiberjinoyatchilik bo‘yicha tergov harakatlarini olib borish hamda kiberjinoyatchilikning oldini olish borasidagi sa’y-harakatlarni birlashtirish, shuningdek O‘zbekiston Respublikasining kibermakonidan terrorchilik, ekstremistik va boshqa qonunga xilof faoliyatda foydalanilishiga yo‘l qo‘ymaslik choralarini ko‘rish;
            muhim axborot infratuzilmasi obyektlarida kiberhujumlarni aniqlash, ularning oldini olish va oqibatlarini bartaraf etish vositalarini joriy etishga doir ishlarni tashkil qilish, shuningdek kiberxavfsizlik hodisalariga nisbatan choralar ko‘rish;
            muhim axborot infratuzilmasi obyektlaridagi mavjud zaifliklar va ehtimoldagi tahdidlar to‘g‘risidagi ma’lumotlarni aniqlashga, to‘plashga va tahlil qilishga doir ishlarni tashkil etish;
            axborot tizimlari va resurslarida kiberxavfsizlikning ta’minlanganlik darajasi bo‘yicha tasniflagich yaratish;
            kiberxavfsizlik obyektlarini kiberxavfsizlikni ta’minlash darajasiga ko‘ra tasniflash;
            kiberxavfsizlik sohasida kadrlar tayyorlash bo‘yicha faoliyatni amalga oshirish;
            kiberxavfsizlik talablariga muvofiqlik yuzasidan ekspertiza o‘tkazish mexanizmlarini belgilash;
            kiberxavfsizlik va muhim axborot infratuzilmasi obyektlarining kiberxavfsizligini amalga oshirishni baholash usullarini belgilash va baholash;
            muhim axborot infratuzilmasi obyektlarini toifalashtirish mezonlarini belgilash va toifalashtirish;
            kiberxavfsizlik subyektlarining kiberxavfsizligini ta’minlashga jalb etilgan xodimlarni qonunchilikda belgilangan tartibda attestatsiyadan o‘tkazish.
            Vakolatli davlat organining qonuniy talablarini (ko‘rsatmalarini) bajarish majburiydir.
            12-modda. Vakolatli davlat organining huquqlari
            Vakolatli davlat organi kiberxavfsizlik sohasidagi vakolatlarni amalga oshirish chog‘ida quyidagi huquqlarga ega:
            kiberhujumlarni aniqlash, ularning oldini olish va oqibatlarini bartaraf etish, shuningdek kiberxavfsizlik hodisalariga nisbatan choralar ko‘rish uchun mo‘ljallangan texnik, dasturiy va apparat-dasturiy vositalarni ijaraga olish;
            kiberhujumlarga barham berish bo‘yicha kechiktirib bo‘lmaydigan choralar ko‘rish uchun texnik qurilmalar va xizmatlardan tekin foydalanish;
            davlat organlariga va boshqa tashkilotlarga kirish, zarur hujjatlar va materiallar bilan tanishish, shuningdek davlat organlaridan va boshqa tashkilotlardan, fuqarolardan ma’lumotlarni hamda boshqa zarur hujjatlarni va materiallarni so‘rash hamda olish, ularni identifikatsiyalashni amalga oshirish va ulardan kiberxavfsizlik hodisalari bo‘yicha tergov harakatlarida foydalanish;
            kiberxavfsizlikni ta’minlash bo‘yicha ishchi organni tashkil etish, shuningdek o‘z vakolatlarining bir qismini unga o‘tkazish;
            kiberxavfsizlik subyektlariga kiberxavfsizlikka tahdid soluvchi huquqbuzarliklar sodir etilishiga imkon bergan sabablar va shart-sharoitlarni bartaraf etish to‘g‘risida bajarilishi majburiy bo‘lgan taqdimnomalar hamda ko‘rsatmalar kiritish;
            kiberxavfsizlik holati ta’minlanganligi yuzasidan davlat nazorati va tekshiruvi vazifasini amalga oshirish maqsadida davlat organlari hamda tashkilotlarining, muhim axborot infratuzilmasi obyektlarining axborot tizimlariga va resurslariga belgilangan tartibda to‘sqinliksiz kirish hamda ularga ulanish, shuningdek ushbu obyektlardagi axborot tizimlarining va resurslarning kiberxavfsizligini ta’minlash vositalarining joriy etilishiga hamda ulardan foydalanilishiga doir ma’lumotlarni o‘rganish;
            kiberxavfsizlikni ta’minlash bo‘yicha monitoring ishlarini bajarish chog‘ida tashkiliy-texnik tadbirlarni amalga oshirish uchun monitoring tizimlariga yoki muhim axborot infratuzilmasi obyektlariga kirish;
            jismoniy va yuridik shaxslarning turar joylariga va boshqa obyektlariga to‘sqinliksiz kirish, zarurat bo‘lganda qulflash moslamalarini va boshqa ashyolarni buzgan holda kirish, bu joylarni axborot texnologiyalari sohasida jinoyatlar sodir etganlikda gumon qilinayotgan shaxslarni ta’qib qilish chog‘ida yoxud u erda jinoyat sodir etilyapti yoki sodir etilgan yoxud huquqni muhofaza qiluvchi organlardan yashiringan shaxs bor deb hisoblash uchun yetarli asoslar mavjud bo‘lgan taqdirda yoxud agar kechiktirish fuqarolarning hayotini va sog‘lig‘ini tahdid ostida qoldiradigan bo‘lsa, yigirma to‘rt soat ichida prokurorga bu haqda xabar bergan holda, shuningdek yetkazilgan zararning o‘rnini qonunchilikda belgilangan tartibda qoplagan holda ko‘zdan kechirish.
             LexUZ sharhi
            Qarang: O‘zbekiston Respublikasi “O‘zbekiston Respublikasi Prezidenti davlat xavfsizlik xizmati to‘g‘risida”gi Qonunining 21-moddasi.
            13-modda. Vakolatli davlat organining majburiyatlari
            Vakolatli davlat organi kiberxavfsizlik sohasida zimmasiga yuklatilgan vakolatlarni amalga oshirish chog‘ida:
            kiberjinoyatlarning oldini olish, aniqlash va bartaraf etish bo‘yicha barcha zarur choralarni ko‘rishi;
            kiberxavfsizlik sohasidagi davlat dasturlarini ishlab chiqish va amalga oshirishda ishtirok etishi;
            kiberxavfsizlik sohasidagi muammolar yuzasidan ilmiy-tadqiqot va tashkiliy-uslubiy faoliyatni amalga oshirishi;
            kiberjinoyatlar hamda kiberxavfsizlikka tahdid soluvchi huquqbuzarliklar to‘g‘risidagi murojaatlar va ma’lumotlarni ro‘yxatdan o‘tkazishi, ular yuzasidan qonunchilikda belgilangan tartibda o‘z vaqtida choralar ko‘rishi;
            kiberxavfsizlikka tahdid soluvchi huquqbuzarliklarning oldini olish, ularning sodir etilishiga imkon bergan sabablar va shart-sharoitlarni aniqlash hamda ularni bartaraf etish choralarini ko‘rishi;
            vakolatli davlat organi xodimlari jismoniy va yuridik shaxslarning turar joylariga hamda boshqa obyektlariga mulkdorlar va ular vakillarining roziligisiz yoki ushbu shaxslar yo‘qligida kirganligi to‘g‘risidagi barcha holatlar yuzasidan prokurorni yigirma to‘rt soat ichida yozma shaklda xabardor qilishi shart.
            Vakolatli davlat organining zimmasiga qonunchilikka muvofiq boshqa majburiyatlar ham yuklatilishi mumkin.
             LexUZ sharhi
            Qarang: O‘zbekiston Respublikasi “O‘zbekiston Respublikasi Prezidenti davlat xavfsizlik xizmati to‘g‘risida”gi Qonunining 22-moddasi.
            3-bob. Davlat organlari va tashkilotlarining kiberxavfsizlikni ta’minlash borasidagi huquq va majburiyatlari. Ma’lumotlarning zaxira nusxalarini ko‘chirish
            14-modda. Davlat organlari va tashkilotlarining kiberxavfsizlikni ta’minlash borasidagi huquq va majburiyatlari
            Davlat organlari va tashkilotlari quyidagi huquqlarga ega:
            kiberxavfsizlikni ta’minlash maqsadida vakolatli davlat organidan kibertahdidlar, dasturiy ta’minotdagi, uskunalar va texnologiyalardagi zaifliklar to‘g‘risidagi axborotni olish;
            vakolatli davlat organidan kiberhujumlardan himoya qilish vositalari va usullari, ularni aniqlash hamda bartaraf etish yo‘llari to‘g‘risida axborot va maslahatlar olish;
            kiberxavfsizlikni ta’minlashga doir chora-tadbirlarni ishlab chiqish va amalga oshirish.
            Davlat organlari va tashkilotlari:
            o‘z tasarrufidagi axborot tizimlari va resurslarining kiberxavfsizligini, tarmoqlar ishining barqarorligini ta’minlashi, shuningdek kiberxavfsizlik bo‘yicha o‘z majburiyatlarini bajarishi, vakolatli davlat organini kiberhujumlar to‘g‘risida ogohlantirishi;
            o‘z axborot tizimlari va resurslarida saqlanayotgan ma’lumotlarning o‘g‘irlanishi hamda qalbakilashtirilishi holatlarining oldini olish choralarini ko‘rishi;
            o‘z axborot tizimlari va resurslarini kiberhimoya qilish uchun sertifikatlashtirilgan apparat, apparat-dasturiy va dasturiy ta’minotdan foydalanishi;
            kiberxavfsizlik sohasida ishlab chiqiladigan normativ-huquqiy hujjatlarni va texnik jihatdan tartibga solish sohasidagi normativ hujjatlarni vakolatli davlat organi bilan kelishishi shart.
            15-modda. Ma’lumotlarning zaxira nusxalarini ko‘chirish
            Davlat organlari va tashkilotlarining, shuningdek muhim axborot infratuzilmasi obyektlarining axborot tizimlari hamda resurslari ma’lumotlarining saqlanishini ta’minlash ichki axborot xavfsizligi siyosatiga muvofiq ma’lumotlarning zaxira nusxalarini yaratish yo‘li bilan amalga oshiriladi, ularning saqlanish muddati oxirgi uch oydan kam bo‘lmasligi kerak.
            4-bob. Kiberxavfsizlikni ta’minlash
            16-modda. Kiberxavfsizlik subyektlarining huquq va majburiyatlari
            Kiberxavfsizlik subyektlari quyidagi huquqlarga ega:
            o‘z kiberxavfsizligini ta’minlash maqsadida vakolatli davlat organidan kibertahdidlar, dasturiy ta’minotdagi, uskunalar va texnologiyalardagi zaifliklar to‘g‘risidagi ma’lumotlarni olish;
            kiberhujumlardan himoya qilish vositalari va usullari, shuningdek ularni aniqlash hamda bartaraf etish usullari to‘g‘risida vakolatli davlat organidan ma’lumotlar va maslahatlar olish;
            o‘z kiberxavfsizligini ta’minlash bo‘yicha chora-tadbirlarni ishlab chiqish va amalga oshirish.
            Kiberxavfsizlik subyektlari:
            axborot tizimlari va resurslaridagi ma’lumotlarning qonunga xilof ravishda tarqatilishi, o‘g‘irlanishi, yo‘qolishi, yaxlitligining buzilishi, bloklanishi va qalbakilashtirilishining, shuningdek axborot tizimlari va resurslariga ruxsatsiz kirishning boshqa ko‘rinishlarining oldini olishi, bunday hollar aniqlanganda o‘z vaqtida tegishli choralar ko‘rishi;
            axborot tizimlari va resurslariga kirish tartibi buzilganda hamda ularga ruxsatsiz kirish natijasida ushbu tizimlar hamda resurslar o‘zgartirilgan yoki yo‘q qilingan taqdirda salbiy oqibatlarni kamaytirish maqsadida ularni tezkorlik bilan tiklash choralarini ko‘rishi;
            sodir bo‘lgan kiberxavfsizlik hodisalari va kiberjinoyatlar to‘g‘risida vakolatli davlat organini xabardor qilishi, ushbu hodisalarni to‘liq fosh etish uchun tegishli raqamli izlarning yo‘qolishiga yo‘l qo‘ymaslik choralarini ko‘rishi, shuningdek kiberxavfsizlik hodisalarini tahlil qilish va kiberjinoyatlarni tekshirish uchun zarur bo‘lgan ma’lumotlarning doimiy saqlanishini ta’minlashi;
            kiberxavfsizlik obyektlarini muhofaza qilish va ularning xavfsiz ishlashi monitoringini o‘tkazish sohasidagi ma’lumotlarni vakolatli davlat organi bilan o‘zaro almashishni amalga oshirishi;
            axborot tizimlari va resurslarining kiberhimoyasini ta’minlashda vakolatli davlat organi tomonidan belgilangan kiberxavfsizlik talablariga rioya etishi;
            kiberxavfsizlik hodisalariga nisbatan choralar ko‘rish mexanizmlarining ishlab turishini va kiberxavfsizlikni ta’minlash bo‘linmalarining ishlashini ta’minlashi, ular mavjud bo‘lmagan taqdirda esa vakolatli davlat organining ruxsati bilan autsorsing xizmatlaridan belgilangan tartibda foydalanishi;
            vakolatli davlat organiga kiberxavfsizlikni ta’minlash monitoringining tashkiliy-texnik tadbirlarini amalga oshirish uchun monitoring tizimlariga va (yoki) kiberxavfsizlik obyektlariga kirish huquqini berishi shart.
            17-modda. Kiberxavfsizlik obyektlarini tasniflash
            Kiberxavfsizlik obyektlarini tasniflash kiberxavfsizlik obyektlari turining tashkiliy-texnik jihatdan murakkabligi darajasini aniqlashga qaratilgan tashkiliy tadbirlar majmuidan iboratdir.
            Tasniflanishi lozim bo‘lgan kiberxavfsizlik obyektlarining toifalari qonunchilikka muvofiq belgilanadi.
            18-modda. Kiberxavfsizlik talablariga muvofiqlik yuzasidan ekspertiza
            Kiberxavfsizlik talablariga muvofiqlik yuzasidan ekspertiza majburiy tartibda yoki kiberxavfsizlik subyektlarining tashabbusiga ko‘ra amalga oshiriladi.
            Quyidagilar kiberxavfsizlik talablariga muvofiqlik yuzasidan majburiy tartibda ekspertizadan o‘tkazilishi lozim:
            davlat organlarining axborot resurslari;
            davlat organlarining axborot tizimlari;
            muhim axborot infratuzilmasi obyektlari toifasiga kiritilgan axborot tizimlari.
            Kiberxavfsizlik talablariga muvofiqlik yuzasidan ekspertiza o‘tkazish tartibi vakolatli davlat organi tomonidan belgilanadi.
            19-modda. Axborot tizimlari va resurslarining kiberxavfsizligini ta’minlash uchun qo‘llaniladigan apparat, apparat-dasturiy hamda dasturiy vositalarni sertifikatlashtirish
            Davlat organlari va tashkilotlari axborot tizimlari hamda resurslarining, shuningdek muhim axborot infratuzilmasi obyektlarining kiberxavfsizligini ta’minlash uchun qo‘llaniladigan apparat, apparat-dasturiy va dasturiy vositalar majburiy tartibda sertifikatlashtirilishi lozim.
            Axborot tizimlari va resurslarining kiberxavfsizligini ta’minlash uchun qo‘llaniladigan apparat, apparat-dasturiy hamda dasturiy vositalarni sertifikatlashtirish tartibi vakolatli davlat organi tomonidan belgilanadi.
            20-modda. Axborotlashtirish obyektlarining va muhim axborot infratuzilmasi obyektlarining attestatsiyasi
            Axborotlashtirish obyektlarining hamda muhim axborot infratuzilmasi obyektlarining attestatsiyasi axborotlashtirish obyektlarining haqiqiy himoyalanganlik holatining kiberxavfsizlik sohasidagi davlat standartlari va normativ-huquqiy hujjatlar talablariga muvofiqligini aniqlashga qaratilgan tashkiliy-texnik tadbirlar majmuidan iboratdir.
            Attestatsiyadan o‘tkazilishi lozim bo‘lgan axborotlashtirish obyektlarining va muhim axborot infratuzilmasi obyektlarining toifalari qonunchilikka muvofiq belgilanadi.
            Axborotlashtirish obyektlarining va muhim axborot infratuzilmasi obyektlarining kiberxavfsizlik talablariga muvofiqligini attestatsiyadan o‘tkazish tartibi vakolatli davlat organi tomonidan belgilanadi.
            21-modda. Kiberxavfsizlikning ta’minlanganlik darajasini baholash
            Kiberxavfsizlikning ta’minlanganlik darajasini baholash axborot tizimlari va resurslarining himoyalanganlik holatini, shuningdek ko‘rilayotgan tashkiliy choralarning samaradorligini aniqlashga qaratilgan tashkiliy-texnik tadbirlar majmuidan iboratdir.
            Baholanishi shart bo‘lgan axborotlashtirish obyektlarining va muhim axborot infratuzilmasi obyektlarining toifalari qonunchilikka muvofiq belgilanadi.
             LexUZ sharhi
            Qarang: O‘zbekiston Respublikasi Davlat xavfsizlik xizmati raisining 2023-yil 4-sentabrdagi 91-son buyrug‘i bilan tasdiqlangan O‘zbekiston Respublikasi kiberxavfsizlik va muhim axborot infratuzilmasi obyektlarining kiberxavfsizligini ta’minlash darajasini baholash tartibi to‘g‘risidagi nizom (ro‘yxat raqami 3458, 22.09.2023-y.).
            Kiberxavfsizlikning ta’minlanganlik darajasini baholash tartibi vakolatli davlat organi tomonidan belgilanadi.
             LexUZ sharhi
            Qarang: O‘zbekiston Respublikasi Davlat xavfsizlik xizmati raisining 2023-yil 4-sentabrdagi 91-son buyrug‘i bilan tasdiqlangan O‘zbekiston Respublikasi kiberxavfsizlik va muhim axborot infratuzilmasi obyektlarining kiberxavfsizligini ta’minlash darajasini baholash tartibi to‘g‘risidagi nizom (ro‘yxat raqami 3458, 22.09.2023-y.).
            Vakolatli davlat organi baholash natijasida aniqlangan kamchiliklarni bartaraf etish to‘g‘risida bajarilishi shart bo‘lgan ko‘rsatmalar beradi.
            5-bob. Kiberxavfsizlik hodisalari
            22-modda. Kiberxavfsizlik hodisalarini tekshirish
            Kiberxavfsizlik hodisalari vakolatli davlat organi yoki kiberxavfsizlikni ta’minlash bo‘yicha ishchi organning mansabdor shaxslari tomonidan tekshiriladi.
            Kiberxavfsizlik hodisasi sodir bo‘lgan axborot resursining yoki axborot tizimining egasi, agar u tekshiruv o‘tkazish uchun zarur bo‘lgan resurslarga va texnik imkoniyatlarga ega bo‘lsa, kiberxavfsizlik hodisasining tekshiruvini o‘tkazishi mumkin. Bunda vakolatli davlat organi tekshiruv natijalari to‘g‘risida xabardor qilinishi kerak.
            23-modda. Kiberxavfsizlik subyektlari tomonidan kiberxavfsizlik hodisalari bo‘yicha choralar ko‘rish
            Kiberxavfsizlik subyektlari tomonidan kiberxavfsizlik hodisalariga nisbatan choralar ko‘rish quyidagi shakllarda amalga oshirilishi mumkin:
            dasturiy ta’minotdagi va qurilmalardagi zaifliklarni hamda xatoliklarni bartaraf etish;
            zararli dasturlarni yo‘q qilish, ularning tarqalishini cheklash, kiberhujumlar manbaini texnik jihatdan cheklash;
             LexUZ sharhi
            Qarang: Vazirlar Mahkamasining 2018-yil 5-sentabrdagi 707-sonli qarori bilan tasdiqlangan O‘zbekiston Respublikasi qonunchiligi bilan tarqatilishi taqiqlangan axborot mavjud bo‘lgan Internet tarmog‘i veb-saytidan va (yoki) veb-sayt sahifalaridan foydalanishni cheklash tartibi to‘g‘risidagi nizomning 5-bobi.
            axborotlashtirish obyektlarini mavjud kibertahdidlardan ajratib qo‘yish;
            huquqni muhofaza qiluvchi organlarga kiberxavfsizlik hodisalari to‘g‘risida ma’lumotlar taqdim etish.
            24-modda. Kiberxavfsizlik hodisalari to‘g‘risidagi axborotni oshkor qilish
            Axborot tizimlari va resurslarida aniqlangan zaifliklar, kibertahdidlar, kiberhujumlar hamda boshqa buzg‘unchilik harakatlari to‘g‘risidagi, shuningdek axborotlashtirish obyektlari haqidagi axborot ularni himoya qilish bo‘yicha tegishli choralar ko‘rilganidan keyin kiberxavfsizlik subyektining ruxsati bilan oshkor qilinishi mumkin.
            Aniqlangan kibertahdidlar va zaifliklar to‘g‘risidagi axborotdan faqat ularni bartaraf etish hamda qonunga xilof harakatlarning oldini olish uchun foydalanilishi kerak.
            6-bob. Muhim axborot infratuzilmasi obyektlari
            25-modda. Muhim axborot infratuzilmasi obyektlarining kiberxavfsizligini ta’minlashning asosiy yo‘nalishlari
            Muhim axborot infratuzilmasi obyektlarining kiberxavfsizligini ta’minlashning asosiy yo‘nalishlari quyidagilardan iborat:
            muhim axborot infratuzilmasi obyektlarining normativ-huquqiy, tashkiliy va texnik jihatdan himoya qilinishini tartibga solish bo‘yicha yagona chora-tadbirlar majmuini yaratish;
            davlat organlari va tashkilotlarining axborot tizimlarida hamda resurslarida, muhim axborot infratuzilmasi obyektlarida kiberxavfsizlikni ta’minlashga doir talablarni belgilash;
            muhim axborot infratuzilmasi obyektlarining kiberxavfsizligini samarali ta’minlash uchun shart-sharoitlar yaratishga ko‘maklashish.
            26-modda. Muhim axborot infratuzilmasi obyektlarini toifalashtirish
            Muhim axborot infratuzilmasi obyektlarini toifalashtirish muhim axborot infratuzilmasi obyektlarining ushbu moddaning ikkinchi qismida nazarda tutilgan toifalarga muvofiqligini aniqlash, shuningdek toifalashtirish natijalariga doir ma’lumotlarni tekshirish maqsadida amalga oshiriladi.
            Muhim axborot infratuzilmasi obyektlari quyidagi toifalarga bo‘linadi:
            yuqori darajadagi muhim axborot infratuzilmasi obyektlari;
            o‘rta darajadagi muhim axborot infratuzilmasi obyektlari;
            past darajadagi muhim axborot infratuzilmasi obyektlari.
            Muhim axborot infratuzilmasi obyektlarini toifalashtirish mezonlari vakolatli davlat organi tomonidan belgilanadi.
            27-modda. Muhim axborot infratuzilmasi obyektlarining yagona reyestri
            Vakolatli davlat organi muhim axborot infratuzilmasi obyektlarining yagona reyestrini yuritadi.
            Muhim axborot infratuzilmasi obyektlarining yagona reyestriga kiritilishi shart bo‘lgan kiberxavfsizlik obyektlarining toifalari qonunchilikka muvofiq belgilanadi.
            Kiberxavfsizlik obyektlarini muhim axborot infratuzilmasi obyektlarining yagona reyestriga kiritish tartibi vakolatli davlat organi tomonidan belgilanadi.
            28-modda. Muhim axborot infratuzilmasi subyektlarining huquq va majburiyatlari
            Muhim axborot infratuzilmasi subyektlari:
            muhim axborot infratuzilmasi obyektlarining kiberxavfsizligini ta’minlash maqsadida vakolatli davlat organidan kibertahdidlar, dasturiy ta’minotning, asbob-uskunalar va texnologiyalarning zaifliklari to‘g‘risida ma’lumotlar olish;
            kiberhujumlardan himoya qilish vositalari va usullari, shuningdek ularni aniqlash hamda ularning oldini olish usullari haqida vakolatli davlat organidan ma’lumotlar va maslahatlar olish;
            muhim axborot infratuzilmasi obyektlarining kiberxavfsizligini ta’minlashga doir chora-tadbirlarni ishlab chiqish hamda amalga oshirish huquqiga ega.
            Muhim axborot infratuzilmasi subyektlari:
            muhim axborot infratuzilmasi obyektlari axborot tizimlarining uzluksiz ishlashini ta’minlashi;
            kiberxavfsizlik hodisalari to‘g‘risidagi axborotni vakolatli davlat organiga yetkazishi;
            kiberhujumlarning oqibatlarini aniqlashda, ularning oldini olishda va ularni bartaraf etishda, kiberxavfsizlik hodisalarining kelib chiqish sabablarini hamda shart-sharoitlarini aniqlashda vakolatli davlat organining yoki kiberxavfsizlikni ta’minlash bo‘yicha ishchi organning mansabdor shaxslariga ko‘maklashishi;
            muhim axborot infratuzilmasi obyektlarida kiberhujumlarning oldini olish, ularning oqibatlarini bartaraf etish, shuningdek kiberxavfsizlik hodisalariga nisbatan choralar ko‘rish uchun apparat, apparat-dasturiy va dasturiy vositalardan foydalanishning texnik talablariga rioya etgan holda monitoring tizimlarini o‘rnatishi hamda ulardan foydalanishi;
            kiberxavfsizlik talablariga muvofiq muhim axborot infratuzilmasi obyektlarining xavfsizligini ta’minlashi;
            muhim axborot infratuzilmasi obyektlarida kiberxavfsizlikni ta’minlash borasida aniqlangan huquqbuzarliklarni bartaraf etish yuzasidan vakolatli davlat organining ko‘rsatmalarini bajarishi;
            muhim axborot infratuzilmasi obyektlariga nisbatan kiberxavfsizlik hodisalari va kiberhujumlarning oqibatlarini bartaraf etish choralarini ko‘rishi;
            vakolatli davlat organiga kiberxavfsizlikni ta’minlash holati monitoringining tashkiliy-texnik tadbirlarini amalga oshirish uchun monitoring tizimlariga yoki muhim axborot infratuzilmasi obyektlariga kirish huquqini berishi;
            muhim axborot infratuzilmasi obyektlarining yagona reyestriga kiritilgan obyekt to‘g‘risidagi ma’lumotlar o‘zgarganda vakolatli davlat organini xabardor qilishi shart.
            29-modda. Muhim axborot infratuzilmasi obyektlarining kiberxavfsizligini ta’minlash bo‘yicha talablar
            Muhim axborot infratuzilmasi subyektlari o‘ziga tegishli bo‘lgan muhim axborot infratuzilmasi obyektlarida kiberxavfsizlikni ta’minlash yuzasidan vakolatli davlat organi tomonidan belgilangan talablarni bajarishi shart.
            Muhim axborot infratuzilmasi subyektlari vakolatli davlat organi bilan kelishgan holda, muhim axborot infratuzilmasi obyektlari ishining o‘ziga xos jihatlaridan kelib chiqib, kiberxavfsizlikni ta’minlash uchun qo‘shimcha talablarni belgilashi mumkin.
            Muhim axborot infratuzilmasi obyektlarining kiberxavfsizligi ta’minlanishi uchun mas’ul bo‘lgan xodimlar qonunchilikda belgilangan tartibda vakolatli davlat organi tomonidan o‘tkaziladigan attestatsiyadan o‘tadi.
            Muhim axborot infratuzilmasi subyekti tomonidan yaratilgan muhim axborot infratuzilmasi obyektlarining kiberxavfsizligini ta’minlash tizimi vakolatli davlat organining muhim axborot infratuzilmasi obyektlaridagi monitoring va kiberxavfsizlik hodisalarini boshqarish tizimiga vakolatli davlat organining qaroriga asosan ulanadi.
            30-modda. Muhim axborot infratuzilmasi obyektlarining kiberxavfsizligini ta’minlash tizimi
            Muhim axborot infratuzilmasi obyektlarining kiberxavfsizligini ta’minlash tizimi quyidagilardan iborat:
            vakolatli davlat organining muhim axborot infratuzilmasi obyektlarining kiberxavfsizlik hodisalarini monitoring qilish va boshqarish tizimi;
            muhim axborot infratuzilmasi obyektlarining kiberxavfsizligini ta’minlash tizimlari.
            Kiberxavfsizlikni ta’minlash tizimidagi kiberxavfsizlik hodisalari to‘g‘risidagi axborotning tarqatilishi cheklangan bo‘ladi. Mazkur axborot hodisalar to‘liq bartaraf etilganidan keyin oshkor etilishi mumkin.
            31-modda. Muhim axborot infratuzilmasi obyektlarining kiberxavfsizligini baholash
            Muhim axborot infratuzilmasi obyektlarining kiberxavfsizligini baholash kiberxavfsizlik sohasidagi davlat nazorati doirasida ushbu obyektlarning turli xil kibertahdidlardan himoyalanganlik holatini (darajasini) aniqlash maqsadida amalga oshiriladi.
            Muhim axborot infratuzilmasi obyektlarining kiberxavfsizligini baholash ixtisoslashtirilgan tashkilotlar jalb etilgan holda, vakolatli davlat organining ruxsati bilan amalga oshiriladi.
            7-bob. Kiberxavfsizlik sohasini qo‘llab-quvvatlash va rivojlantirish
            32-modda. Kiberxavfsizlik subyektlarini davlat tomonidan qo‘llab-quvvatlash
            Kiberxavfsizlik subyektlarini davlat tomonidan qo‘llab-quvvatlash quyidagilardan iborat:
            kiberxavfsizlik sohasidagi normativ-huquqiy bazani takomillashtirish;
            kiberxavfsizlik subyektlariga soliq, bojxona imtiyozlari va preferensiyalar berish;
            xo‘jalik yurituvchi subyektlarning mablag‘larini kiberxavfsizlik sohasini moliyalashtirish uchun jalb etishga shart-sharoitlar yaratish;
            kiberxavfsizlik sohasida ilmiy-texnika yutuqlariga asoslangan mahsulotlarning va ilg‘or texnologiyalarning kafolatlangan tarzda joriy etilishini ta’minlash maqsadiga qaratilgan davlat xaridlarini tashkil etish;
            kiberxavfsizlik sohasida kadrlarni tayyorlashga, qayta tayyorlashga, shuningdek ularning malakasini oshirishga ko‘maklashish.
            33-modda. Kiberxavfsizlik sohasida ilmiy-texnik va innovatsion faoliyatni qo‘llab-quvvatlash
            Davlat boshqaruvi organlari, mahalliy davlat hokimiyati organlari va xo‘jalik yurituvchi subyektlar tomonidan kiberxavfsizlik sohasidagi ilmiy-texnik va innovatsion faoliyatni qo‘llab-quvvatlash quyidagilar vositasida amalga oshiriladi:
            ilmiy-tadqiqot, tajriba-konstruktorlik va texnologik ishlarni davlat buyurtmasi doirasida bajarish uchun buyurtmalarni joylashtirish;
            investitsiya loyihalarini amalga oshirish jarayonida amalga oshiriladigan ilmiy-tadqiqot, konstruktorlik va texnologik ishlarni moliyalashtirish uchun kiberxavfsizlik subyektlariga subsidiyalar ajratish;
            innovatsion mahsulotlarga bo‘lgan talabni, shu jumladan davlat ehtiyojlari uchun sotib olinadigan tovarlarning (ishlarning, xizmatlarning) maqbullashtirilishini rag‘batlantirish;
            kiberxavfsizlik darajasini yaxshilash bo‘yicha loyihalarni amalga oshiradigan, shu jumladan mavjud ilg‘or texnologiyalardan foydalangan holda xizmatlar ko‘rsatish borasidagi innovatsion faoliyat bilan shug‘ullanadigan tashkilotlarga moliyaviy yordam ko‘rsatish;
            kiberxavfsizlik sohasida ilmiy, ilmiy-texnik va innovatsion faoliyatni amalga oshirish hamda muhim axborot infratuzilmasi obyektlarining kiberxavfsizligini ta’minlash uchun shart-sharoitlar yaratish;
            kiberxavfsizlikni ta’minlash bilan bog‘liq davlat xaridlarini amalga oshirishda mamlakatimizda ishlab chiqarilgan mahsulotga ustuvorlik berish.
            34-modda. Kiberxavfsizlikni ta’minlash sohasidagi kadrlar salohiyatini rivojlantirish va qo‘llab-quvvatlash
            Davlat boshqaruvi organlarining, mahalliy davlat hokimiyati organlarning va xo‘jalik yurituvchi subyektlarning kiberxavfsizlikni ta’minlash sohasidagi kadrlari salohiyatini rivojlantirish va qo‘llab-quvvatlash quyidagilar vositasida amalga oshirilishi mumkin:
            kiberxavfsizlikni ta’minlash sohasidagi kadrlarni qayta tayyorlash va ularning malakasini oshirish bo‘yicha faoliyatni amalga oshiruvchi tashkilotlarga moliyaviy, axborot-maslahat yordami ko‘rsatish;
            kiberxavfsizlikni ta’minlash sohasida o‘quv-uslubiy va ilmiy-pedagogik yordam ko‘rsatish.
            Muhim axborot infratuzilmasi subyektlarining kiberxavfsizlikni ta’minlash uchun mas’ul bo‘lgan xodimlari xalqaro standartlarga hamda davlat standartlariga va talablariga muvofiq o‘z malakasini doimiy asosda oshirib borishi kerak.
            35-modda. Muhim axborot infratuzilmasi obyektlarining kiberxavfsizligini ta’minlash uchun mas’ul bo‘lgan xodimlarni rag‘batlantirish
            Muhim axborot infratuzilmasi obyektlarining kiberxavfsizlikni ta’minlash uchun mas’ul bo‘lgan xodimlarini rag‘batlantirish qonunchilikda belgilangan tartibda amalga oshiriladi.
             LexUZ sharhi
            Qarang: O‘zbekiston Respublikasi Prezidentining 2018-yil 19-fevraldagi PF-5349-son “Axborot texnologiyalari va kommunikatsiyalari sohasini yanada takomillashtirish chora-tadbirlari to‘g‘risida”gi Farmoni 7-bandining “g” kichik bandi, O‘zbekiston Respublikasi Prezidentining 2023-yil 31-maydagi PQ-167-son “O‘zbekiston Respublikasining muhim axborot infratuzilmasi obyektlari kiberxavfsizligini ta’minlash tizimini takomillashtirish bo‘yicha qo‘shimcha chora-tadbirlar to‘g‘risida” qarorining 4-bandi.
            8-bob. Yakunlovchi qoidalar
            36-modda. Kiberxavfsizlik sohasidagi xalqaro hamkorlik
            Vakolatli davlat organi kiberxavfsizlik sohasidagi xalqaro hamkorlikni o‘z vakolatlari doirasida amalga oshiradi.
            Vakolatli davlat organi O‘zbekiston Respublikasining qonunchiligiga va xalqaro shartnomalariga muvofiq xalqaro kiberjinoyatchilikka qarshi kurashish masalalariga doir axborotni chet davlatlarga va xalqaro tashkilotlarga so‘rov bo‘yicha taqdim etadi.
            Xalqaro kiberjinoyatlarga qarshi kurashish masalalariga doir axborot, agar bunday ma’lumotlar dastlabki tergov harakatlariga yoki sud jarayonlariga to‘sqinlik qilmasa hamda kiberhujumlarni to‘xtatishga, kibermakondan foydalanilgan holda sodir etiladigan jinoiy xatti-harakatlarni o‘z vaqtida aniqlashga va ularga barham berishga xizmat qilsa, chet davlatlarga va xalqaro tashkilotlarga oldindan so‘rovsiz berilishi mumkin.
            37-modda. Kiberxavfsizlik to‘g‘risidagi qonunchilikni buzganlik uchun javobgarlik
            Kiberxavfsizlik to‘g‘risidagi qonunchilikni buzganlikda aybdor bo‘lgan shaxslar belgilangan tartibda javobgarlikka tortiladi.
             LexUZ sharhi
            O‘zbekiston Respublikasining Ma’muriy javobgarlik to‘g‘risidagi kodeksining 155 va 2022-moddalari, O‘zbekiston Respublikasining Jinoyat kodeksining XX1 bobi.
            38-modda. Ushbu Qonunning ijrosini, yetkazilishini, mohiyati va ahamiyati tushuntirilishini ta’minlash
            O‘zbekiston Respublikasi Davlat xavfsizlik xizmati va boshqa manfaatdor tashkilotlar ushbu Qonunning ijrosini, ijrochilarga yetkazilishini hamda mohiyati va ahamiyati aholi o‘rtasida tushuntirilishini ta’minlasin.
            39-modda. Qonunchilikni ushbu Qonunga muvofiqlashtirish
            O‘zbekiston Respublikasi Vazirlar Mahkamasi:
            hukumat qarorlarini ushbu Qonunga muvofiqlashtirsin;
            davlat boshqaruvi organlari ushbu Qonunga zid bo‘lgan o‘z normativ-huquqiy hujjatlarini qayta ko‘rib chiqishlari va bekor qilishlarini ta’minlasin.
            40-modda. Ushbu Qonunning kuchga kirishi
            Ushbu Qonun rasmiy e’lon qilingan kundan e’tiboran uch oy o‘tgach kuchga kiradi.
            O‘zbekiston Respublikasining Prezidenti Sh. MIRZIYOYEV
            Toshkent sh.,
            2022-yil 15-aprel,
            O‘RQ-764-son
            
            (Qonunchilik ma’lumotlari milliy bazasi, 16.04.2022-y., 03/22/764/0313-son)
        </p>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>